/* common.css */

/* ブラウザの余白リセット（必須） */
body {
    margin: 0;
    padding: 0;
}
/* ヘッダー全体 */
.header {
    width: 100%;
    height: 82px;
    background-color: #000000;
    display: flex;
    align-items: center;
    /* 上下中央に配置 */
    padding-left: 25px;
    box-sizing: border-box;
}
.header-logo {
    position: absolute;
    /* 親要素が基準 */
    width: 370px;
    height: 36px;
    top: 22px;
    left: 25px;
}

.header-logo img {
    width: 370px;
    height: 36px;
    display: block;
    object-fit: contain;
}