* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item-page {
    width: 100%;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-container {
    width: 100%;
    height: 40px;
    margin-top: 47px;
    position: relative;
    border-bottom: 1px solid #000000;
}

.tab-inner {
    width: 100%;
    max-width: 1512px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.tab-item {
    position: absolute;
    width: 155px;
    height: 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    cursor: pointer;
}

.tab-item.active {
    color: #FF4D4D;
}

.item-grid {
    width: 95%;
    max-width: 1374.5px;
    margin: 76px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    row-gap: 76px;
}

.item-item {
    text-decoration: none;
    color: inherit;
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.item-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #D9D9D9;
    position: relative;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-name {
    margin-top: 10px;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sold-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #ff4d4d transparent transparent transparent;
    z-index: 1;
}

.sold-label::after {
    content: 'SOLD';
    position: absolute;
    top: -55px;
    left: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(-45deg);
    display: block;
    width: 50px;
}
.alert-success {
    /* 幅を入力欄やボタンと一致させる */
    width: 680px;
    padding: 15px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

@media screen and (min-width: 1400px) {
    .tab-item:first-child {
        left: 129px;
    }

    .tab-item:last-child {
        left: 336px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .tab-item:first-child {
        left: 5%;
    }

    .tab-item:last-child {
        left: calc(5% + 160px);
    }

    .item-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
    }
}

@media screen and (max-width: 1399px) and (min-width: 851px) {
    .tab-item:first-child {
        left: 50px;
    }

    .tab-item:last-child {
        left: 230px;
    }
}