.auth__heading {
    text-align: center;
    margin-bottom: 40px;
}

.auth__heading h2 {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #333;
    margin: 0 auto;
}
.auth__content {
    width: 680px;
    height: 678px;
    margin: 50px auto;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}
.form__button {
    margin-top: 40px;
    text-align: center;
}
.form__label--item {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    /* Bold */
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.form__input--text input {
    width: 100%;
    height: 59px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 16px;
}
.form__group {
    margin-bottom: 25px;
}
.form__button-submit {
    background-color: #FF5555;
    border-radius: 5px;
    height: 65px;
    width: 100%;
    max-width: 680px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.register__link {
    text-align: center;
    margin-top: 30px;
}
.register__link-button {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 53px;
    color: #0073CC;
    text-decoration: none;
    text-align: center;
}
.register__link-button:hover {
    text-decoration: underline;
    opacity: 0.9;
}
.form__error {
    color: #ff4b4b;
    font-size: 14px;
    margin-top: 4px;
    font-weight: bold;
}
/* --- タブレットサイズ (768-850px) --- */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .register-container {
        width: 80%;
        margin: 0 auto;
    }
}

/* --- PCサイズ (1400-1540px) --- */
@media screen and (min-width: 1400px) {
    .register-container {
        max-width: 400px;
        margin: 0 auto;
    }
}