@media screen and (min-width: 768px) and (max-width: 1540px) {
    .auth__content {
        max-width: 680px;
        margin: 50px auto;
    }

    .header {
        background-color: #000000;
        height: 82px;
        display: flex;
        align-items: center;
    }

    .auth__heading h2 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
    }

    .form__label--item {
        display: inline-block;
        color: #000000;
        padding: 5px 20px;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form__input--text input {
        width: 100%;
        height: 59px;
        border: 1px solid #5F5F5F;
        border-radius: 4px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .form__group {
        margin-bottom: 30px;
    }
    .form__error {
        color: #ff4b4b;
        font-size: 14px;
        margin-top: 5px;
        min-height: 20px;
    }
    .form__button {
        margin-top: 40px;
        text-align: center;
    }

    .form__button-submit {
        background-color: #FF5555;
        border-radius: 5px;
        height: 65px;

        width: 100%;
        max-width: 680px;
        border: none;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    .auth__link {
        text-align: center;
        margin-top: 30px;
    }

    .auth__link a {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        color:#0073CC;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
    }

    .auth__link a:hover {
        border-bottom: 2px solid #0073CC;
    }
}
